<section class="panel banner right">
    <div class="content color0 span-3-75">
        <h1 class="major">{{ title }}</h1>

        {{ intro }}

        <ul class="actions">
            <li><a href="#qui-suis-je" class="button special color1 circle icon fa-angle-right">Suivant</a></li>
        </ul>
    </div>

    <div class="image hide-sm filtered span-1-75" data-position="center">
        {{ image }}
        <img src="{{ url }}" alt="{{ alt }}" />
        {{ /image }}
    </div>
</section>

<section class="panel spotlight medium left" id="qui-suis-je">
    <div class="content span-7">
        <h2 class="major" id="marceau">@Marceau</h2>

        {{ resume }}
    </div>

    <div class="image filtered tinted" data-position="center">
        {{ background }}
        <img src="{{ url }}" alt="{{ alt }}" />
        {{ /background }}
    </div>
</section>

<section class="panel color4-alt">
    <div class="intro color4">
        <h2 class="major" id="expertise">Mon expertise</h2>

        {{ content }}
    </div>

    <div class="inner columns aligned">
        <div class="span-3">
            <h3 class="major" id="projets">Quelques projets</h3>

            <div class="table-wrapper">
                <table>
                    <tbody>
                    {{ projects }}
                        <tr>
                            <td><a href="{{ url }}" target="_blank">{{ name }}</a></td>
                            <td>{{ description | raw }}</td>
                        </tr>
                    {{ /projects }}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="span-3">
            <h3 class="major" id="competences">Compétences</h3>

            {{ skill_domains }}
            <p {{ if !last }}style="margin-bottom: .75rem"{{ /if }}>
                <strong>{{ name }}</strong><br>
                {{ skills }}
                {{ if !first }}&mdash; {{ /if }}
                <a href="{{ url }}" target="_blank" rel="nofollow">{{ name | raw }}</a>
                {{ /skills }}
            </p>
            {{ /skill_domains }}
        </div>

        <div class="span-3">
            <h3 class="major" id="temoignages">Témoignages</h3>

            {{ testimonials }}
                <blockquote>
                    {{ content | raw }}
                    &mdash; <a href="{{ url }}" rel="nofollow" target="_blank">{{ author }}</a>
                </blockquote>
            {{ /testimonials }}
        </div>
    </div>
</section>

<section class="panel color0">
    <div class="inner columns aligned">
        <div class="span-1">
            <h3 class="major" id="contact">Contact</h3>

                <ul class="contact-icons color1">
                    {{ contacts }}
                        <li class="icon {{ icon }}">
                            <a href="{{ url }}" {{ if new_window }}target="_blank"{{ /if }}>{{ name }}</a>
                        </li>
                    {{ /contacts }}
                </ul>
        </div>
    </div>
</section>
