<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <title>{{ config:title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ config:description }}" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body>
<div id="page-wrapper">
    <div id="wrapper">
        {{ template_content }}

        <div class="copyright">{{ config:footer }}</div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/main.js"></script>
{{ config:analytics }}
</body>
</html>
